.webcamCapture {
   position: relative;
}

.webcamCapture__button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 125%);
    cursor: pointer;
    color: gray;
    background: white;
    border-radius: 200px;
}